include core/config.pug
- var heading = "Главная";
- var breadcrumbs = [];
- breadcrumbs.push({title: "Главная", url: "/"});

doctype html
html(lang='ru')
	head
		include sections/head.pug
	body
		include sections/hello.pug
		include sections/footer.pug
