// Vendors
@import '../../bower_components/reset-stylus/src/reset-stylus.styl'
// @import '../../bower_components/owl.carousel/dist/assets/owl.carousel.css'
// Core
@import './core/config.styl'
@import './core/mixins.styl'
@import './core/reset.styl'
@import './core/animations.styl'
// Main
@import './sections/general.styl'


body
	padding-top 48px
	padding-left 33.33%
	padding-right 33.33%
	padding-bottom 48px
h1
	margin-bottom 24px
	font-family font_heading
	font-size (48 / 16em)
	line-height 1em
p
	font-weight 100
	line-height 1.5em
