// Vendors
@import '../../bower_components/reset-stylus/src/reset-stylus.styl'
@import '../../bower_components/owl.carousel/dist/assets/owl.carousel.css'
// Core
@import './core/config.styl'
@import './core/mixins.styl'
@import './core/reset.styl'
@import './core/animations.styl'
@import './core/general.styl'

// Main
@import './sections/hello.styl'
