.burger
	cursor pointer
	width 24px
	height 16px
	position relative
	&__bar
		width 24px
		height 2px
		background-color color_indigo
		position absolute
		left 0
		transition all .25s ease-in-out
		&:nth-child(1)
			top 0
		&:nth-child(2)
			top 7px
		&:nth-child(3)
			top 14px
	&--active &__bar:nth-child(1)
		top 7px
		transform rotate(-45deg)
	&--active &__bar:nth-child(2)
		opacity 0
	&--active &__bar:nth-child(3)
		top 7px
		transform rotate(45deg)
	.no-touch &:hover &__bar
		box-shadow 0 4px 8px 0 rgba(#000000, .15)