.columns
	margin-left -(gap_laptop / 2)
	margin-right -(gap_laptop / 2)
.column
	padding-left (gap_laptop / 2)
	padding-right (gap_laptop / 2)
	float left
	&--three
		column(3)
	&--four
		column(4)
	&--six
		column(6)
	&--eight
		column(8)
	&--nine
		column(9)