.h
	font-family font_heading
	line-height 1.2em
	font-weight 700
	text-transform uppercase
	&--h2
		font-size (36 / 16em)
	&--h3
		font-size (24 / 16em)
	&--h4
		font-size (20 / 16em)
	&--h5
		font-size (16 / 16em)
	&--h6
		font-size (14 / 16em)

@media screen and (max-width: display_tablet_landscape)
	.h
		&--h2
			font-size (24 / 16em)
		&--h3
			font-size (20 / 16em)
		&--h4
			font-size (16 / 16em)
		&--h5
			font-size (14 / 16em)
		&--h6
			font-size (12 / 16em)

