path_images = '/templates/site/assets/images/'

display_mobile_portrait = 320px
display_mobile_landscape = 480px
display_tablet_portrait = 768px
display_tablet_landscape = 1024px
display_laptop = 1230px

gap_touch = 20px
gap_laptop = 30px

font_main = 'Montserrat', sans-serif
font_heading = 'Righteous', cursive
