// Пути
path_fonts = '/assets/fonts/'
path_images = '/assets/images/'

// Размеры экранов
display_mobile_portrait = 320px
display_mobile_landscape = 480px
display_tablet_small = 640px
display_tablet_portrait = 768px
display_tablet_landscape = 1024px
display_laptop = 1230px

// Отступы
gap_touch = 20px
gap_laptop = 30px

// Палитра
color_white = #ffffff
color_black = #000000

// Шрифты
font_main = 'Roboto', Helvetica, Arial, sans-serif
font_heading = 'Gabriela', serif
